# ==================================================
# Node.js
# ==================================================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# ==================================================
# Playwright
# ==================================================
# Output folders
playwright-report/
playwright/.cache/
test-results/
blob-report/

# Video, screenshots, traces
*.mp4
*.webm
*.png
*.zip
trace.zip
test-results/
blob-report/
*.trace.zip

# ==================================================
# Allure
# ==================================================
allure-results/
allure-report/
allure-history/  # only downloaded in CI, don’t store in repo

# ==================================================
# IDE / OS Specific
# ==================================================
# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# JetBrains
.idea/
*.iml

# Logs
logs/
*.log
*.log.*
debug.log

# OS files
.DS_Store
Thumbs.db
*.swp

# ==================================================
# Build Output
# ==================================================
dist/
out/
coverage/
coverage-final.json

# ==================================================
# GitHub Actions
# ==================================================
# Artifacts created by CI
temp-history/
temp/
artifacts/
